<h2>What is a mastery pledge?</h2>
<p>A master is a person who.... In order to know you are making progress towards the goal of mastery, it is helpful to have a mastery pledge. Your pledge is your north star. It's the thing you aim to become a mastery of. The problem with the question "what do you want to do with your life" is that the answers
the world wants us to give are far too pedestrian. A mastery pledge is specific, each work should matter.</p>

<div class="actions">
  <span class="center"><a class="button" href="/pages/signup">Signup for Beta</a></span>
</div>